<mat-toolbar color="secondary">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="padding-right-20">Status</span>
    <span *ngFor="let status of statusList">
      <mat-checkbox [(ngModel)]="status.Checked">{{status.Name}}</mat-checkbox>
    </span>
    <span class="padding-right-20">&nbsp;</span>
    <span>
      <mat-label class="padding-right-20">Search</mat-label>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="searchFilter.Title" (keyup.enter)="searchJobs()">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchJobs()">Go</button>
      <button *ngIf="searchFilter.Title.length>0" mat-raised-button color="secondary" (click)="clearTitle()">Clear</button>
    </span>
  </div>
</mat-toolbar>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <app-posted-jobs [jobsList]="postedJobs"></app-posted-jobs>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-10">
    <app-short-listed-candidates [shortListedCandidates]="dataService.shortListedCandidates">
    </app-short-listed-candidates>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-10">
    <app-interviews [candidateInterviews]="dataService.currentInterview"></app-interviews>
  </div>
</div>
