<div class="container">
  <h5>Posted Jobs</h5>
  <mat-table [dataSource]="jobsList" class="mat-elevation-z4">
    <!-- Company Column -->
    <ng-container matColumnDef="Company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Company}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Title}} </mat-cell>
    </ng-container>

    <!-- DatePosted Column -->
    <ng-container matColumnDef="DatePosted">
      <mat-header-cell *matHeaderCellDef> Date Posted </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DatePosted}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row style="cursor: pointer;" [ngClass]="{'highlight': selectedRowIndex == row.Id}"
      *matRowDef="let row; columns: displayedColumns;" (click)="getCandidates(row)"></mat-row>
  </mat-table>
  <div *ngIf="jobsList.length===0">No Records Found!</div>
</div>
