<mat-toolbar color="secondary">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span *ngFor="let status of statusList">
      <mat-checkbox [(ngModel)]="status.Checked">{{status.Name}}</mat-checkbox>
    </span>
    <span style="width: 100px;">&nbsp;</span>
    <span>
      <mat-label>Title</mat-label>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="searchFilter.Title">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="SearchJobs()">Search</button>
    </span>
  </div>
</mat-toolbar>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <app-posted-jobs [JobsList]="postedJobs"></app-posted-jobs>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-10">
    <app-short-listed-jobs [dataSource]="dataService.currentJob"></app-short-listed-jobs>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-10">
    <app-interviews [dataSource]="dataService.currentInterview"></app-interviews>
  </div>
</div>
