<div class="container">
  <h5>Short Listed</h5>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Experience">
      <mat-header-cell *matHeaderCellDef> Experience </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Experience}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="WorksAt">
      <mat-header-cell *matHeaderCellDef> Works At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.WorksAt}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="CTC">
      <mat-header-cell *matHeaderCellDef> CTC </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CTC}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row style="cursor: pointer;" [ngClass]="{'highlight': selectedRowIndex == row.Id}"
      *matRowDef="let row; columns: displayedColumns;" (click)="getInterviews(row)"></mat-row>
  </mat-table>
</div>
