/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.margin-top-10 {
  margin-top: 10px;
}
.highlight {
  background-color: #673ab7;
}
.padding-right-20 {
  padding-right: 20px;
}
