/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.margin-top-10 {
  margin-top: 10px;
}
.highlight {
  background-color: #673ab7;
}
.highlight .mat-cell {
  color: white;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-20 {
  padding-right: 20px;
}
.mat-header-row {
  background-color: beige;
}
.mat-header-cell {
  font-weight: 600;
  color: black;
}
.label {
  font-size: 20px;
}
